# deps
**/node_modules/

# builds
**/.next/
**/dist/
**/out/
**/.serverless/
**/cdk.out/

# env
**/.env
**/.env.local
**/.env.*.local

# logs
*.log
logs/

# OS + IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
